body {
    font-family: Verdana, Helvetica, Arial;
    margin: 0;
}

/* Colour variables */

:root {
    --off-black: #1f1f1f;
    --black-opaque: rgba(0,0,0,0.5);
    --off-white: #f5f5f5;
    --light-grey: #dcdcdc;
    --mid-grey: #bfc1c2;
    --grey: #a5a5a8;
    --dark-grey: #555555;
    --white: white;
    --black: black;
    --pale-blue: rgb(175, 224, 249);
    --mid-blue: #a2d2ff;
    --blue: #0492c2;
    --peach: #ffc09f;
    --pale-red: rgb(255, 170, 170);
    --red: #fe4d4d;
    --pale-green: #b8e0d2;
    --mid-green: #afe1af;
    --green: #03c04a;
    --pale-yellow: palegoldenrod;
}

.page-container {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content-wrap {
    padding-bottom: 80px;
    background-color: var(--white);
    flex: 1;
}


/* Header */
.header {
    background-color: var(--mid-blue);
    color: var(--black);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 20px;
    min-height: 80px;
    width: 100%;
    min-width: 200px;
}

h1 {
    margin: 0;
    font-size: 36px;
}


/* Library display */
.library {
    display: flex;
    flex-direction: column;
    color: var(--black);
    box-sizing: border-box;
    width: 100%;
    min-width: 200px;
    padding: 20px;
}

button {
    box-sizing: border-box;
    padding: 10px;
    width: 180px;
    font-family: Verdana, Helvetica, Arial;
    font-size: 16px;
    background-color: var(--pale-green);
    color: var(--black);
    border: solid var(--black);
    border-width: 1px;
    border-radius: 10px;
    
    &&:hover {
        /* transition-duration: 250ms;
        cursor: pointer;
        transform: scale(1.1); */

        transition: all 0.5s ease-out;
        cursor: pointer;
        filter: brightness(85%);
    }
}

.library-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    min-width: 200px;
    margin-bottom: 20px;
}

.library-header .summary-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 10px;
    gap: 20px;
    font-size: 20px;
}

.summary-info #total-books,
.summary-info #read-books {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.summary-info #total-books #total-books-value,
.summary-info #read-books #read-books-value {
    color: var(--blue);
    font-weight: bold;
}

/* !!! add .gallery styles - use Grid? */
/* !!! add .gallery .card styles too */



/* Footer */
.footer {
    background-color: var(--pale-yellow);
    color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
    min-height: 80px;
    width: 100%;
    min-width: 200px;
    font-size: 16px;
    position: absolute;
    bottom: 0;
}

.footer a {
    color: var(--black);
    margin-left: 10px;    

    &&:hover {
        transition-duration: 250ms;
        cursor: pointer;
        transform: scale(1.1);
    }
}


/* Overlay */

#overlay {
    position: fixed;    /* sit on top of the page content */
    display: none;  /* hidden by default */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--black-opaque);
    z-index: 1;
}

#overlay.active {
    display: block;
}


/* "Add book" pop-up and form */

.add-book-pop-up {
    position: fixed;
    box-sizing: border-box;
    z-index: 2;     /* higher stack order to sit on top of overlay */
    top: 50%;
    left: 50%;
    width: 70%;
    max-width: 300px;
    min-width: 200px;
    background-color: var(--white);
    text-align: center;
    transition: 0.2s ease-in-out;
    transform: translate(-50%, -50%) scale(0);
    border-radius: 20px;
}

.add-book-pop-up.active {
    transform: translate(-50%, -50%) scale(1);
}

#add-book-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
    gap: 10px;
    font-size: 16px;
}

h2 {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 24px;
    text-align: center;
}

#add-book-form .title,
#add-book-form .author,
#add-book-form .image-link,
#add-book-form .pages,
#add-book-form .genres {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
}

#add-book-form .genres select:hover {
    cursor: pointer;
}

#add-book-form .read {
    display: flex;
    gap: 3px;
    justify-content: center;
    align-items: center;
}

#add-book-form .read input {
    height: 15px;
    width: 15px;

    &&:hover {
        cursor: pointer;
    }
}

#add-book-form .review {
    display: none;
}

#add-book-form .review.active {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#add-book-form .review .rating,
#add-book-form .review .review-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
}

input#rating-slider:hover {
    cursor: pointer;
}

#add-book-form .review .rating-value {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 30px;
}

p {
    margin: 0;
}

#add-book-form .buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    gap: 10px;
    margin-top: 10px;
}

#add-book-form .buttons button {
    width: 110px;
}

#add-book-form .buttons #add-book-form-btn {
    background-color: var(--pale-blue);
}

#add-book-form .buttons #reset-btn {
    background-color: var(--pale-red);
}