body {
    font-family: Verdana, Helvetica, Arial;
    margin: 0;
}

/* Colour variables */

:root {
    --off-black: #1f1f1f;
    --black-opaque: rgba(0,0,0,0.5);
    --off-white: #f5f5f5;
    --pale-grey: #f0f0f0;
    --light-grey: #dcdcdc;
    --mid-grey: #bfc1c2;
    --grey: #a5a5a8;
    --dark-grey: #555555;
    --white: white;
    --black: black;
    --pale-blue: rgb(175, 224, 249);
    --mid-blue: #a2d2ff;
    --blue: #0492c2;
    --royal-blue: #4169e1;
    --peach: #ffc09f;
    --pale-red: rgb(255, 170, 170);
    --red: #fe4d4d;
    --pale-green: #b8e0d2;
    --mid-green: #afe1af;
    --green: #03c04a;
    --pale-yellow: palegoldenrod;
    --violet: #710193;
    --iris: #9867c5;
    --lilac: #865fcf;
    --magenta: #a1045a;
}

.page-container {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content-wrap {
    padding-bottom: 80px;
    background-color: var(--pale-grey);
    flex: 1;
}


/* Header */
.header {
    background-color: var(--white);
    color: var(--black);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 20px;
    min-height: 80px;
    width: 100%;
    min-width: 200px;
}

h1 {
    margin: 0;
    font-size: 36px;
}


/* Library display */
.library {
    display: flex;
    flex-direction: column;
    color: var(--black);
    box-sizing: border-box;
    width: 100%;
    min-width: 200px;
    padding: 20px;
}

button {
    box-sizing: border-box;
    padding: 10px;
    width: 160px;
    font-family: Verdana, Helvetica, Arial;
    font-size: 16px;
    background-color: var(--white);
    color: var(--black);
    border: solid var(--black);
    border-width: 1px;
    border-radius: 10px;
    
    &&:hover {
        /* transition-duration: 250ms;
        cursor: pointer;
        transform: scale(1.1); */

        transition: all 0.5s ease-out;
        cursor: pointer;
        filter: brightness(85%);
    }
}

.library-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    min-width: 200px;
    margin-bottom: 20px;
}

.library-header .summary-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 10px;
    gap: 20px;
    font-size: 20px;
}

.summary-info #total-books,
.summary-info #read-books {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.summary-info #total-books #total-books-value,
.summary-info #read-books #read-books-value {
    color: var(--royal-blue);
    font-weight: bold;
}

.gallery {
    display: grid;  /* using CSS grid to display the book cards in the library */
    /* grid-template-columns: repeat(auto-fit, minmax(250px, 300px)); */
    grid-template-columns: repeat(auto-fit, 250px);
    column-gap: 20px;
    row-gap: 20px;
    justify-content: flex-start;
    justify-items: start;
    align-content: start;
    align-items: start;
}

.gallery .book-card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    background-color: var(--white);
    color: var(--black);
    border-radius: 10px;
    width: 250px;
}

.book-card .book-key {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.book-key .book-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 16px;
    text-align: left;
}

.book-key .book-info h2 {
    margin: 0;
    font-size: 20px;
}

.book-key img {
    width: 80px;
}

.book-card .book-review {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 10px;
    font-size: 16px;
}

.book-card .book-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.book-card .book-buttons button {
    width: 100px;
}

.book-card .book-buttons #read-btn {
    background-color: var(--pale-green);

    &&.unread {
        background-color: var(--pale-red);
    }
}

.book-card .book-buttons #remove-btn {
    background-color: var(--light-grey);
}


/* Footer */
.footer {
    background-color: var(--pale-grey);
    color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
    min-height: 80px;
    width: 100%;
    min-width: 200px;
    font-size: 16px;
    position: absolute;
    bottom: 0;
}

.footer a {
    color: var(--black);
    margin-left: 10px;    

    &&:hover {
        transition-duration: 250ms;
        cursor: pointer;
        transform: scale(1.1);
    }
}


/* Overlay */

#overlay {
    position: fixed;    /* sit on top of the page content */
    display: none;  /* hidden by default */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--black-opaque);
    z-index: 1;
}

#overlay.active {
    display: block;
}


/* "Add book" pop-up and form */

.add-book-pop-up {
    position: fixed;
    box-sizing: border-box;
    z-index: 2;     /* higher stack order to sit on top of overlay */
    top: 50%;
    left: 50%;
    width: 70%;
    max-width: 300px;
    min-width: 200px;
    background-color: var(--white);
    transition: 0.2s ease-in-out;
    transform: translate(-50%, -50%) scale(0);
    border-radius: 20px;
}

.add-book-pop-up.active {
    transform: translate(-50%, -50%) scale(1);
}

#add-book-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
    gap: 15px;
    font-size: 16px;
    color: black;
}

h2 {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 24px;
    text-align: center;
}

#add-book-form .title,
#add-book-form .author,
#add-book-form .image-link,
#add-book-form .pages,
#add-book-form .genres {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 100%;

    && label {
        width: 70px;
        text-align: start;
    }
}

#add-book-form .genres select:hover {
    cursor: pointer;
}

#add-book-form .read {
    display: flex;
    gap: 3px;
    justify-content: center;
    align-items: center;
}

#add-book-form .read input[type="checkbox"] {
    appearance: none;
    height: 1em;
    width: 1em;
    background-color: var(--white);
    font: inherit;
    border: 0.1em solid var(--black);
    border-radius: 0.15em;
    margin-left: 5px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;

    display: grid;
    place-content: center;

    &&:hover {
        cursor: pointer;
    }

    &&::before {
        content: "";
        width: 0.65em;
        height: 0.65em;
        transform: scale(0);
        transition: 120ms transform ease-in-out;
        box-shadow: inset 1em 1em var(--blue);
        transform-origin: bottom left;
        clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    }

    &&:checked::before {
        transform: scale(1);
    }
}

#add-book-form .review {
    display: none;
}

#add-book-form .review.active {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#add-book-form .review .rating,
#add-book-form .review .review-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
}

input#rating-slider:hover {
    cursor: pointer;
}

#add-book-form .review .rating-value {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 30px;
}

p {
    margin: 0;
}

#add-book-form .buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    gap: 10px;
    margin-top: 10px;
}

#add-book-form .buttons button {
    width: 110px;
}

#add-book-form .buttons #add-book-form-btn {
    background-color: var(--pale-blue);
}

#add-book-form .buttons #reset-btn {
    background-color: var(--pale-red);
}